.menu-item {
    padding: 10px;
}

.grand-total {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.delete-icon {
    vertical-align: middle;
    cursor: pointer;
}

.delete-icon:hover {
    color: blue;
}