    .cart-container {
        display: flex;
        justify-content: center;
        width: 98%;
        padding: 5px;
    }

    .cart-item-list {
        height: 1000px;
    }

    .cart-footer {
        position: fixed;
        bottom: 0px;
        background-color: lightgray;
        font-size: 22px;
        font-weight: 900;
        width: 99%;
        padding: 10px;
    }